@font-face {
   font-family: 'Covik Sans Mono';
   font-display: swap;
   src: url('file:///C:/Users/gelso/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-04_152042/fonts/Covik%20Sans%20Mono/font.ttf');
}
